/* Page overall styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Page body styles */
body,
a,
ul {
  font-family: "Karma", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: rgb(238, 238, 238);
}

/* Navigation styles start here */
.navbar {
  width: 100%;
  background-color: black;
  color: white;
}

.navbar i {
  cursor: pointer;
  padding: 0.5rem;
  font-size: larger;
}

.navbar :nth-child(7) {
  float: right;
}

.navbar i:hover {
  background-color: rgb(238, 238, 238);
  color: black;
}

/* main-container-styles start here */
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-section {
  text-align: center;
}
.header-section span {
  background-color: black;
  color: white;
}
.header-section h2 {
  margin-top: 5rem;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.header-section p {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.header-image {
  width: 100%;
  z-index: -1;
  margin-top: -6rem;
}

.header-wrapper {
  position: relative;
  top: 10rem;
  left: 1rem;
  z-index: 22;
  background: transparent;
  color: white;
  min-width: 16rem;
  text-align: left;
}
.header-wrapper:nth-child(2) {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.header-wrapper:nth-child(1) {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.header-wrapper:nth-child(3) {
  padding: 0.7rem 1rem;
  background-color: #ffffff;
  opacity: 0.5;
  color: black;
  cursor: pointer;
}

.link-btn {
  margin-bottom: 1rem;
}

.wrapper-button:hover {
  background-color: white;
  color: black;
  opacity: 0.7;
}

/* end of header styles */
.container-part2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  margin: 0 auto;
}

.container-wrapper {
  background-color: white;
}
.container-wrapper p {
  font-size: medium;
  padding: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}
.container-wrapper h3 {
  padding: 1rem 0;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.5rem;
}
.container-wrapper h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}
.container-wrapper button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  outline: none;
  font-size: 1rem;
}
.container-wrapper button:hover {
  cursor: pointer;
  background-color: rgb(204, 201, 201);
  color: black;
}

.wrapper-pic1 {
  padding: 1rem;
  width: 100%;
}

.wrapper-btn2 {
  float: right;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}
.wrapper-btn2 span {
  color: black;
  background-color: white;
  padding: 0.2rem 0.5rem;
  margin: 0 0 0 0.5rem;
  font-size: medium;
}

.wrapper-subdiv {
  border-top: 1px solid rgb(228, 223, 223);
  margin-top: 3rem;
}
.wrapper-subdiv img {
  margin: 1rem 4rem 1rem 0;
  width: 10%;
  float: left;
}
.wrapper-subdiv ul li {
  background-color: white;
}
.wrapper-subdiv:nth-child(3) {
  margin-bottom: 2rem;
}

.wrapper-list1 {
  padding: 1rem 0;
  margin-top: 1rem;
}

li span {
  font-weight: bold;
}

/* end of container-first-part  */
.second-container {
  grid-area: 3/1/4/2;
}

.third-container {
  grid-area: 5/1/6/2;
}

/* --------- End of column one styles ------------ */
.sidebar-section1 {
  background: url(images/avatar_girl2.jpg) no-repeat center;
  background-size: cover;
  min-height: 24rem;
  color: white;
}
.sidebar-section1 p {
  font-size: medium;
  padding: 0 0.2rem 1.5rem 1rem;
  line-height: 1.3rem;
  font-weight: lighter;
}
.sidebar-section1 h3 {
  padding: 1rem;
}
.sidebar-section1 p,
.sidebar-section1 #sidebar1-title {
  position: relative;
  top: 14rem;
}

/* -----------------End of first section of sidebar ----------------*/
.sidebar-part2 {
  margin-top: 3rem;
  background-color: white;
}

.popular-post {
  background-color: black;
  color: white;
  padding: 1rem;
}

.firstbar ul li {
  background-color: white;
}

.first-level {
  padding: 1rem 0;
  border-top: 1px solid rgb(236, 233, 233);
}
.first-level img {
  float: left;
  width: 5%;
  margin-left: 1rem;
}
.first-level:hover {
  background-color: rgb(200, 199, 199);
}
.first-level span {
  padding: 0 0 0 1rem;
  font-weight: lighter;
  line-height: 5px;
}

.first--level {
  border: none;
  vertical-align: center;
}

/* ---------------- End of popular post styles -----------------*/
.advertise-container {
  margin: 3rem 0;
  background-color: white;
  border: 1px solid white;
}
.advertise-container:nth-child(2) {
  background-color: rgb(238, 238, 238);
  margin: 1rem;
  padding: 6rem 10rem;
  text-align: center;
}

.advertise {
  background-color: black;
  color: white;
  padding: 1rem;
}

/* ---------------- end of advertise ------------------ */
.sidebar-tags {
  background-color: white;
}

.sidebar-tags-title {
  background-color: black;
  color: white;
  padding: 1rem;
}

ul li {
  list-style-type: none;
  padding: 0.1rem 0.7rem;
  margin: 0.3rem 0.1rem;
  background-color: rgb(238, 238, 238);
  font-size: small;
}

.sidebar-tags-list {
  padding: 1rem;
}
.sidebar-tags-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first-word {
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: lighter;
}

.container-sidebar {
  grid-area: 7/1/8/2;
}

/* end of sidebar column 2 row first */
.container-2ndsidebar {
  grid-area: 9/1/10/2;
}

.sidebar-pic-gallery {
  margin-top: 1rem;
  background-color: white;
}
.sidebar-pic-gallery img {
  width: 45%;
}

.sidebar-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.gallery-title {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* End of gallery */
.sidebar-links {
  background-color: white;
  margin: 2rem 0;
}

.links-title {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.links-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-brands:hover {
  opacity: 0.5;
}

/* end of links */
.sidebar-subscribe {
  background-color: white;
  margin: 2rem 0;
}

.subscribe-title {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.subscribe-details {
  padding: 0 1rem;
  text-align: center;
}
.subscribe-details p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: left;
}
.subscribe-details button {
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: red;
  color: white;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: none;
}
.subscribe-details input {
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  width: 100%;
}

/* end of subscribe */
.footer {
  height: 10rem;
  background-color: white;
  width: 100%;
}
.footer button {
  padding: 1rem 2rem;
  margin: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
}
.footer p {
  margin: 0 0 2rem 2rem;
  color: black;
}

.footer-icon {
  padding-right: 1rem;
  font-weight: bolder;
}

.footer-link {
  color: black;
  text-decoration: underline;
}

/* end of footer */
/* page responsive part */
@media (min-width: 50rem) {
  .header-wrapper {
    position: relative;
    top: 23rem;
    left: 1rem;
  }
  .container-sidebar {
    grid-area: 1/2/2/3;
  }
  .container-2ndsidebar {
    grid-area: 3/2/4/3;
  }
  .sidebar-section1 {
    margin: 0.2rem;
  }
  .container-part2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .sidebar-links {
    margin: 1rem 0;
  }
  .first-level img {
    width: 8%;
  }
  .wrapper-subdiv img {
    width: 10%;
    float: left;
    margin: 0.5rem 4rem 1rem 0;
  }
  .sidebar-subscribe {
    margin: 1rem 0;
  }
}/*# sourceMappingURL=main.css.map */