$font-color: white;
$bk-color: red;
$first-font-family: "Oswald", sans-serif;

$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1rem;

/* Page overall styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Page body styles */
body,
a,
ul {
  font-family: "Karma", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: rgb(238, 238, 238);
}
/* Navigation styles start here */
.navbar {
  width: 100%;
  background-color: $bk-color;
  color: $font-color;
}
.navbar i {
  cursor: pointer;
  padding: 0.5rem;
  font-size: larger;
}
.navbar :nth-child(7) {
  float: right;
}
.navbar i:hover {
  background-color: rgb(238, 238, 238);
  color: $bk-color;
}
/* main-container-styles start here */
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header-section {
  text-align: center;
  span {
    background-color: $bk-color;
    color: $font-color;
  }
  h2 {
    margin-top: 5rem;
    font-size: $font-lg;
    font-family: $first-font-family;
    font-weight: 500;
  }
  p {
    font-size: $font-sm;
    font-family: $first-font-family;
  }
}
.header-image {
  width: 100%;
  z-index: -1;
  margin-top: -6rem;
}
.header-wrapper {
  position: relative;
  top: 10rem;
  left: 1rem;
  z-index: 22;
  background: transparent;
  color: $font-color;
  min-width: 16rem;
  text-align: left;
  &:nth-child(2) {
    font-family: $first-font-family;
    font-size: $font-lg;
    font-weight: bold;
  }
  &:nth-child(1) {
    font-family: $first-font-family;
    font-size: $font-md;
  }
  &:nth-child(3) {
    padding: 0.7rem 1rem;
    background-color: #ffffff;
    opacity: 0.5;
    color: $bk-color;
    cursor: pointer;
  }
}

.link-btn {
  margin-bottom: 1rem;
}
.wrapper-button:hover {
  background-color: $font-color;
  color: $bk-color;
  opacity: 0.7;
}
/* end of header styles */
.container-part2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  margin: 0 1rem;
}
.container-wrapper {
  background-color: $font-color;
  p {
    font-size: medium;
    padding: 1rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  h3 {
    padding: 1rem 0;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.5rem;
  }
  h5 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  button {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    outline: none;
    font-size: 1rem;
  }
  button:hover {
    cursor: pointer;
    background-color: rgb(204, 201, 201);
    color: $bk-color;
  }
}
.wrapper-pic1 {
  padding: 1rem;
  width: 100%;
}
.wrapper-btn2 {
  float: right;
  background-color: $bk-color;
  color: $font-color;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  span {
    color: $bk-color;
    background-color: $font-color;
    padding: 0.2rem 0.5rem;
    margin: 0 0 0 0.5rem;
    font-size: medium;
  }
}

.wrapper-subdiv {
  border-top: 1px solid rgb(228, 223, 223);
  margin-top: 3rem;
  img {
    margin: 1rem 4rem 1rem 0;
    width: 10%;
    float: left;
  }
  ul li {
    background-color: $font-color;
  }
  &:nth-child(3) {
    margin-bottom: 2rem;
  }
}

.wrapper-list1 {
  padding: 1rem 0;
  margin-top: 1rem;
}
li span {
  font-weight: bold;
}

/* end of container-first-part  */
.second-container {
  grid-area: 3/1/4/2;
}
.third-container {
  grid-area: 5/1/6/2;
}
/* --------- End of column one styles ------------ */

.sidebar-section1 {
  background: url(images/avatar_girl2.jpg) no-repeat center;
  background-size: cover;
  min-height: 24rem;
  color: $font-color;

  p {
    font-size: medium;
    padding: 0 0.2rem 1.5rem 1rem;
    line-height: 1.3rem;
    font-weight: lighter;
  }
  h3 {
    padding: 1rem;
  }
  p,
  #sidebar1-title {
    position: relative;
    top: 14rem;
  }
}

/* -----------------End of first section of sidebar ----------------*/
.sidebar-part2 {
  margin-top: 3rem;
  background-color: $font-color;
}
.popular-post {
  background-color: $bk-color;
  color: $font-color;
  padding: 1rem;
}
.firstbar ul li {
  background-color: $font-color;
}

.first-level {
  padding: 1rem 0;
  border-top: 1px solid rgb(236, 233, 233);
  img {
    float: left;
    width: 5%;
    margin-left: 1rem;
  }
  &:hover {
    background-color: rgb(200, 199, 199);
  }
  span {
    padding: 0 0 0 1rem;
    font-weight: lighter;
    line-height: 5px;
  }
}

.first--level {
  border: none;
  vertical-align: center;
}

/* ---------------- End of popular post styles -----------------*/
.advertise-container {
  margin: 3rem 0;
  background-color: $font-color;
  border: 1px solid $font-color;
  &:nth-child(2) {
    background-color: rgb(238, 238, 238);
    margin: 1rem;
    padding: 6rem 10rem;
    text-align: center;
  }
}
.advertise {
  background-color: $bk-color;
  color: $font-color;
  padding: 1rem;
}

/* ---------------- end of advertise ------------------ */
.sidebar-tags {
  background-color: $font-color;
}
.sidebar-tags-title {
  background-color: $bk-color;
  color: $font-color;
  padding: 1rem;
}
ul li {
  list-style-type: none;
  padding: 0.1rem 0.7rem;
  margin: 0.3rem 0.1rem;
  background-color: rgb(238, 238, 238);
  font-size: small;
}

.sidebar-tags-list {
  padding: 1rem;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.first-word {
  background-color: $bk-color;
  color: $font-color;
  font-size: medium;
  font-weight: lighter;
}
.container-sidebar {
  grid-area: 7/1/8/2;
}
/* end of sidebar column 2 row first */
.container-2ndsidebar {
  grid-area: 9/1/10/2;
}
.sidebar-pic-gallery {
  margin-top: 1rem;
  background-color: $font-color;
  img {
    width: 45%;
  }
}
.sidebar-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.gallery-title {
  background-color: $bk-color;
  color: $font-color;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* End of gallery */
.sidebar-links {
  background-color: $font-color;
  margin: 2rem 0;
}
.links-title {
  background-color: $bk-color;
  color: $font-color;
  padding: 1rem;
  margin-bottom: 1rem;
}
.links-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.fa-brands:hover {
  opacity: 0.5;
}
/* end of links */
.sidebar-subscribe {
  background-color: $font-color;
  margin: 2rem 0;
}
.subscribe-title {
  background-color: $bk-color;
  color: $font-color;
  padding: 1rem;
  margin-bottom: 1rem;
}
.subscribe-details {
  padding: 0 1rem;
  text-align: center;
  p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: left;
  }
  button {
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: red;
    color: $font-color;
    font-size: $font-sm;
    width: 100%;
    outline: none;
    border: ;
  }
  input {
    font-size: $font-sm;
    padding: 0.5rem;
    outline: none;
    width: 100%;
  }
}
/* end of subscribe */
.footer {
  height: 10rem;
  background-color: $font-color;
  width: 100%;
  button {
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: $bk-color;
    color: $font-color;
    cursor: pointer;
    font-size: $font-sm;
    font-weight: bolder;
  }
  p {
    margin: 0 0 2rem 2rem;
    color: $bk-color;
  }
}

.footer-icon {
  padding-right: 1rem;
  font-weight: bolder;
}

.footer-link {
  color: $bk-color;
  text-decoration: underline;
}
.footer-btn-link {
  color: $font-color;
}
/* end of footer */
/* page responsive part */
@media (min-width: 50rem) {
  .header-wrapper {
    position: relative;
    top: 23rem;
    left: 1rem;
  }
  .container-sidebar {
    grid-area: 1/2/2/3;
  }
  .container-2ndsidebar {
    grid-area: 3/2/4/3;
  }
  .sidebar-section1 {
    margin: 0.2rem;
  }
  .container-part2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .sidebar-links {
    margin: 1rem 0;
  }
  .first-level img {
    width: 8%;
  }
  .wrapper-subdiv img {
    width: 10%;
    float: left;
    margin: 0.5rem 4rem 1rem 0;
  }
  .sidebar-subscribe {
    margin: 1rem 0;
  }
}
