/* Page overall styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Page body styles */
body,
a,
ul {
  font-family: "Karma", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  list-style-type: none;
}
body {
  padding-top: 5rem;
}
/* Container styles which include to overall items */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}
/* Navigation Bar Styles */
.navigation-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(4rem, 26rem));
  max-width: 1200px;
  align-items: center;
  justify-items: center;
  font-size: 1rem;
  padding: 1rem 0;
  font-family: "merriweather", sans-serif;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}
.item1 {
  justify-self: start;
  padding: 0.5rem 1rem;
}
.navbar-item {
  outline: none !important;
  border: none;
  background: transparent;
}
.nav-link {
  width: 1rem;
  margin: 0.5rem 0;
  border-color: black;
}
.item3 {
  justify-self: end;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.item2 {
  padding: 0.5rem 1rem;
}
.navbar-item:hover {
  background-color: rgb(242, 238, 238);
  cursor: pointer;
}

/* End of navigation Bar */
/* Pictures gallery styles start section */
.main-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.first-section,
.second-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.grid-images {
  width: 100%;
}
.main-container-items {
  text-align: center;
}
.main-container-items h2 {
  margin: 1rem auto;
  font-family: "merriweather", sans-serif;
  font-size: 1.3rem;
  font-weight: lighter;
}
.main-container-items p {
  margin: 1rem auto;
  font-family: "merriweather", sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
}
/* picture gallery style section End */
.page-numbers {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.page-numbers a {
  color: black;
}
.first-number {
  background-color: black !important;
  color: white !important;
}
.numbers {
  padding: 0.6rem 0.8rem;
}
.numbers:hover {
  background-color: black;
  color: white;
}

.line-seperator {
  border-bottom: 1px solid black;
  opacity: 0.1;
  margin: 1rem 0;
}
/* Shef parts styles */
.shef-part {
  width: 100%;
}
.wrapper-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Bitter", serif;
  padding: 2rem 0;
  padding-bottom: 1rem !important;
}
.wrapper-subtitle {
  font-style: italic;
  text-align: center;
  font-family: "Bitter", serif;
  padding: 1rem 0;
}
.chef-info {
  font-weight: lighter;
  font-family: "merriweather", sans-serif;
  padding: 1.2rem;
  text-align: center;
  font-size: small;
  line-height: 1.3rem;
}
/* Page footer styles */
.main-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 0.3rem;
  margin: 2rem 0;
  width: 100%;
}
.footer {
  padding: 1rem 1rem;
  font-family: "merriweather", sans-serif;
}
.popular-tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer h3 {
  font-weight: lighter;
  margin-bottom: 2rem;
}
.footer-first-grid p {
  margin: 1rem 0;
  line-height: 1.5rem;
  font-size: small;
}
.footer-images {
  width: 10%;
  margin: 0 1rem 0 0;
  float: left;
}
.blog-posts-list {
  padding: 1rem;
  margin: 0 auto !important;
}
#blog-post-list {
  margin-top: 0;
}
.blog-posts-list:hover {
  background-color: rgb(216, 216, 216);
}
.blog-s2 {
  border-top: 0.5px solid rgb(216, 216, 216);
}
.footer-travel-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-travel-links li {
  padding: 0.2rem 0.3rem;
  margin: 0.5rem 0.1rem;
  background-color: gray;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
}
#first-child {
  background-color: black;
}
/* Navigation sidebar section */
.navsidebar {
  width: 16rem;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  z-index: 2;
  top: 0;
  display: none;
  background-color: white;
}
.navsidebar a {
  color: black;
  display: block;
  padding: 1.5rem 0.5rem;
  margin: 0;
  font-family: "merriweather", sans-serif;
  font-size: larger;
}
.navsidebar a:hover {
  background-color: rgb(216, 216, 216);
}
/* page responsive section */
@media (min-width: 40rem) {
  .shef-image {
    width: 70%;
  }
  .shef-part {
    text-align: center;
  }
  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .navsidebar {
    width: 36rem;
  }
}
